/* Body */
body {
	font-family: Sans-serif;
	background-color: #001d24;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Navigation */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 2%;
}
.WalletConnectDiv {
	display: inline-flex;
	float: right;
	margin-right: 2%;
	margin-top: 15px;
}
.Walletbutton{
	width: 200px;
	margin-top: 25px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #1a3042;
	color: #040a0f;
  background-color: #1DC690;;
	transition: all 0.2s linear;
}
.Walletbutton:hover{
	border: 4px solid #264864;
	background-color: #12805d;
	color: #272727;
	transition: all 0.3s linear;
	cursor: pointer;
}
.WalletAddress{
	vertical-align: top;
	color:#12805d;
	font-size: small;
	padding-bottom: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	color: #DFF0F3;
	list-style: none;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
	letter-spacing: 1px;
	font-weight: bold;

}
ul li a {
	color: #C4C4C4;
	text-decoration: none;
}
ul li:hover a {
	transition: all 0.5s linear;
	color: #FFFFFF;
	padding: 2px;
	border-radius: 5px;
	background-color: #107868b9;
}
.hero_header {
	color: #888888;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 2px;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}
.Featured{
	background-color: ivory;
	height: fit-content;
	width: 100%;
}

/* Main */
.Welcome{
	display:block;
	font-size: 90px;
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
	color: #278AB0;
}
.Title1{
	margin:0;
	padding-right: 25%;
}
.Title2{
	margin:0;
}
.Title3{
	margin:0;
	padding-left: 25%;
}


/* NFTInfoBox*/

.NFTInfoBox{
	display: block;
	text-align: center;
}

.NFTTitle{
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #1C4670;
}

.NFTImage {
	margin-top: 10px;
	border-radius: 10px;
}
.perperson{
	font-size: 20px;
	margin: 0;
	color:#1C4670;
	text-decoration: underline;
}
.NFTTokenId{
	margin:1px;
	color:#107868b9;
}

.NFTInfo{
	width: 70%;
	margin-top: 10px;
	font-size: 15px;
	color: #1C4670;
	margin-right: auto;
	margin-left: auto;
}

.BuyNFT{
	width: 200px;
	margin-top: 25px;
	margin-right: auto;
	margin-left:auto;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #1a3042;
	color: #040a0f;
  	background-color: #1DC690;;
	transition: all 0.2s linear;
}
.BuyNFT:hover{
	border: 4px solid #264864;
	background-color: #12805d;
	color: #272727;
	transition: all 0.3s linear;
	cursor: pointer;
}

/* Join Section */
.Join{
	text-align: center;
	color: ivory;
	font-size: 70px;
	height: fit-content;
}
.JoinTitle
{
	color: #278AB0;
	margin: 0%;
	margin-top: 5%;
}
.TheCrewTitle{
	color:#278AB0;
	margin:0;
	margin-bottom: 3%;
}
.AboutRoadMap{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

/*column section */
.columns{
	margin-top: 30px;
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.column{
	width: 60%;
	background-color: ivory;
	border-radius: 25px;
}

/* Hero Section */
.Featured {
	padding-top: 100px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #000000;
}
.tagline {
	text-align: center;
	color: #8f8e8e;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url("https://change-itn.eu/wp-content/uploads/2018/07/louvre_museum_paris_france-wallpaper-1920x1080.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.Donation{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.DonationAmount{
	width: 250px;
	height: 50px;
	vertical-align: middle;
	background: rgba(156, 156, 156, 0.719);
	border: medium;
  margin-bottom: 5px;
  margin-top: 45px;
  margin-right: 15px;
  text-decoration-color: #FFFFFF;
}
::placeholder {
  color: rgb(238, 238, 238);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(238, 238, 238);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(238, 238, 238);

}
input, select, textarea{
    color: #f8f8f8;
}

textarea:focus, input:focus {
    color: #f8f8f8;
	;
}
.DonationButon{
	float: left;
	width: 100px;
	margin-top: 40px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #D4D4D4AF;
	color: #414141;
  background-color: rgba(168, 168, 168, 0.801);;
	transition: all 0.2s linear;
}
.DonationButon:hover {
	background-color: #DFDFDF;
	color: #7c7b7b;
	cursor: pointer;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.Subs{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.button {
	float: left;
	width: 60px;
	margin-top: 40px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #D4D4D4AF;
	color: #9808A0;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #DFDFDF;
	color: #AE61B5;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Search Mint/marketplace */
.SearchHeaderSection{
	width: 100%;
	margin-left: 30%;
}

.SearchHeader{
	margin-left: 5%;
	margin-bottom: 1px;
	font-size: 60PX;
	color: rgb(87, 86, 86);
}

.SearchSubHeader{
	margin-left: 6.5%;
	margin-top: 2px;
	font-size: 30PX;
	color: rgb(121, 121, 121);
}

.Search{
	width: 550px;
	height: 50px;
	background: rgba(116, 116, 116, 0.658);
	border: medium;
	border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 15px;
  text-decoration-color: #000000;
  box-shadow:
  1.3px 2.4px 8.8px rgba(0, 0, 0, 0.063),
  3px 5.5px 16.7px rgba(0, 0, 0, 0.072),
  5.5px 10.1px 25.3px rgba(0, 0, 0, 0.073),
  9.4px 17px 36.6px rgba(0, 0, 0, 0.074),
  16px 29.1px 54.1px rgba(0, 0, 0, 0.076),
  33px 60px 98px rgba(0, 0, 0, 0.09);
}
::placeholder {
  color: rgb(214, 214, 214);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(238, 238, 238);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(238, 238, 238);

}
input, select, textarea{
    color: #e6e6e6;
}
textarea:focus, input:focus {
    color: #e6e6e6;
	;
}
	
.SearchButton{
	width: 100px;
	margin-top: px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border: 3px solid #c4c4c4af;
	color: #636363;
  background-color: rgba(192, 192, 192, 0.801);;
	transition: all 0.2s linear;
	}
/* Contact */

@keyframes wipe-enter {
	0% {
		transform: scale(1, .025);
	}
	/*50% {
		transform: scale(1, .025);
	}*/
}

@media (prefers-reduced-motion: no-preference) {
	.logo-animation {
		animation-name: wipe-enter;
		animation-duration: 1.7s;
		animation-iteration-count: 1;
	}
}

.Instagram{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 100%;
	background-color: #c2c2c2;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Freight Sans;
}

.Instalogo{
	margin-right: 5%;
	margin-left: 5%;
	float:right;
}

.ititle{
	margin-left: 5%;
	font-size: xxx-large;
}

.iAbout{
	margin-left: 5%;
	font-size:x-large
}

.Twitter{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 100%;
	background-color: #d4e3e9;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Freight Sans;
}

.Twitterlogo{
	margin-right: 5%;
	margin-left: 5%;
	float:left;
}

.tHeader{
	margin-right: 5%;
	font-size: xxx-large;
}

.tAbout{
	margin-right: 5%;
	font-size:x-large
}

.Spotify{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 100%;
	background-color: #303030;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Freight Sans;
}

.Spotifylogo{
	margin-right: 5%;
	margin-left: 5%;
	float:right;
}

.sHeader{
	margin-left: 5%;
	font-size: xxx-large;
	color: #cfd6d2;
}

.sAbout{
	margin-left: 5%;
	font-size:x-large;
	color: #cfd6d2;
}

.Email{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 100%;
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Freight Sans;
}

.Emaillogo{
	margin-left: 5%;
	margin-right: 5%;
	float:left;
}

.eHeader{
	margin-right: 5%;
	font-size: xxx-large;
}

.eAbout{
	margin-right: 5%;
	font-size:x-large
}

.emailAddress{
	margin-right: 5%;
	font-size:x-large
}

/* Museum */
.Museum{
	height: 750px;
	text-align: center;
}

.viewPort{
	border-radius: 25px;
	width: 900px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	box-shadow:
  		1.3px 2.4px 8.8px rgba(0, 0, 0, 0.063),
  		3px 5.5px 16.7px rgba(0, 0, 0, 0.072),
  		5.5px 10.1px 25.3px rgba(0, 0, 0, 0.073),
  		9.4px 17px 36.6px rgba(0, 0, 0, 0.074),
  		16px 29.1px 54.1px rgba(0, 0, 0, 0.076),
  		33px 60px 98px rgba(0, 0, 0, 0.09);
}

.view{
	padding-top: 10%;
	color:darkgray;
	font-size: xx-large;
}

.MuseumHeader{
	color: #414141;
	font-size: xx-large;
}

.MuseumAbout{
	color: #636363;
	font-size: large;
}

/*About Page*/
.Creators{
	display: inline-flex;
	justify-content: center;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

.card{
	margin-right: 10%;
	width: 35%;
	background-color: #DFDFDF;
	box-shadow:
	1.3px 2.4px 8.8px rgba(0, 0, 0, 0.063),
	3px 5.5px 16.7px rgba(0, 0, 0, 0.072),
	5.5px 10.1px 25.3px rgba(0, 0, 0, 0.073),
	9.4px 17px 36.6px rgba(0, 0, 0, 0.074),
	16px 29.1px 54.1px rgba(0, 0, 0, 0.076),
	33px 60px 98px rgba(0, 0, 0, 0.09);
}

.NFTAbout{
	width: auto;
	height: fit-content;
	padding-top: 3%;
	padding-bottom: 5%;
}

.MuseumInfo{
	width: auto;
	height: fit-content;
	padding-top: 3%;
	padding-bottom: 8%;
	background-color: rgb(46, 46, 46);
	color:#b9b9b9;
}

.AHeader{
	margin-top: 10%;
	margin-left: 5%;
	font-size: xx-Large;
}

.AboutSubHeader {
	font-size: x-large;
}

.AboutParagraph{
	margin-top: 1%;
	margin-right: 15%;
	margin-left: 10%;
	margin-bottom: 2%;
	font-size: 18px;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
