@import url("https://fonts.googleapis.com/css2?family=Forum&family=Quicksand:wght@300&display=swap");

/* Body */
body {
	font-family: 'Quicksand', sans-serif;
	background-color: #001d24;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
}
.Featured{
	background-color: ivory;
	height: fit-content;
	width: 100%;
}

/* Main */
.Welcome{
	font-family: 'Forum', cursive;
	display:block;
	font-size: 120px;
	padding: 20px;
	margin-top: 3%;
	margin-bottom: 10%;
	text-align: center;
	color: #278AB0;
	letter-spacing: 15PX;
}
.Title1{
	margin:0;
	padding-right: 0%;
}
.Title2{
	margin:0;
	font-size: large;
}
.Title3{
	margin:0;
	padding-left: 2%;
	font-size: large;
}


/* NFTInfoBox*/

.NFTInfoBox{
	display: block;
	text-align: center;
}

.NFTTitle{
	font-family: 'Forum', cursive;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #1C4670;
}

.NFTImage {
	margin-top: 10px;
	border-radius: 10px;
}
.perperson{
	font-size: 20px;
	margin: 0;
	color:#1C4670;
	text-decoration: underline;
}
.NFTTokenId{
	margin:1px;
	color:#107868b9;
}

.NFTInfo{
	width: 70%;
	margin-top: 10px;
	font-size: 15px;
	color: #1C4670;
	margin-right: auto;
	margin-left: auto;
}

.BuyNFT{
	width: 200px;
	margin-top: 25px;
	margin-right: auto;
	margin-left:auto;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #1a3042;
	color: #040a0f;
  	background-color: #1DC690;;
	transition: all 0.2s linear;
}
.BuyNFT:hover{
	border: 4px solid #264864;
	background-color: #12805d;
	color: #272727;
	transition: all 0.3s linear;
	cursor: pointer;
}

/* Join Section */
.Join{
	text-align: center;
	color: ivory;
	font-size: 70px;
	height: fit-content;
}
.JoinTitle
{
	font-family: 'Forum', cursive;
	color: #278AB0;
	margin: 0%;
	margin-top: 5%;
	letter-spacing: 25px;
	font-size: 120px;
}
.TheCrewTitle{
	font-family: 'Forum', cursive;
	color:#278AB0;
	margin:0;
	margin-bottom: 3%;
	letter-spacing: 15px;
	font-size: 60px;
}
.AboutRoadMap{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

/*column section */
.columns{
	font-family: 'Quicksand', sans-serif;
	background-color: ivory;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
}
.column{
	width: 60%;
	margin: 3%;
	background-color: #1a3042 ;
	border-radius: 25px;
	text-align: center;
}
.columnHeader{
	font-family: 'Forum', cursive;
	color: #278AB0;
	font-size: 30px;
	font-weight: 700;
	margin: 20px 0;
	letter-spacing: 3px;
}
.RoadMapText{
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #1DC690;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
	padding-left: 4px;
	margin-bottom:10px;
	margin-top:10px;
}
.columnBody{
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #1DC690;
	margin-bottom:10px;
	margin-top:10px;
}
.columntext{
	color: #1DC690;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	margin-top: 5px;
}

/* Hero Section */
.Featured {
	padding-top: 100px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #000000;
}
.tagline {
	text-align: center;
	color: #8f8e8e;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* Parallax Section */
.banner {
	background-color: #278AB0;
	background-image: url("https://thecr3wnft.com/BackgroundPictures/NFTLandSign.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
.parallax {
	color: ivory;
	text-align: left;
	padding-left: 10%;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
	font-size: 40px;
	margin:0;
}
.parallax_description {
	font-size: large;
	color: ivory;
	text-align: left;
	padding-left: 10%;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.Donation{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.DonationAmount{
	width: 250px;
	height: 50px;
	vertical-align: middle;
	background: #2789b083;
	border: medium;
	border-radius: 15px;
  	margin-bottom: 5px;
  	margin-top: 45px;
  	margin-right: 15px;
  	text-decoration-color: #FFFFFF;
}
::placeholder {
  color: ivory;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: ivory;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: ivory;

}
input, select, textarea{
    color: ivory;
	padding-left: 10px;
}

textarea:focus, input:focus {
    color: ivory;
	;
}
.DonationButon{
	float: left;
	width: fit-content;
	margin-top: 40px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #1193c783;
	color: ivory;
  	background-color: #2789b083;;
	transition: all 0.2s linear;
}
.DonationButon:hover {
	background-color: #07506dc7;
	color: rgb(194, 194, 194);
	cursor: pointer;
}
/* More info */
footer {
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.Subs{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.button {
	float: left;
	width: 60px;
	margin-top: 40px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #1a3042;
	background-color: #1DC690;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #12805d;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: ivory;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
}
.hidden {
	display: none;
}

/* Search Mint/marketplace */
.SearchHeaderSection{
	width: 100%;
	margin-left: 30%;
}

.SearchHeader{
	margin-left: 5%;
	margin-bottom: 1px;
	font-size: 60PX;
	color: rgb(87, 86, 86);
}

.SearchSubHeader{
	margin-left: 6.5%;
	margin-top: 2px;
	font-size: 30PX;
	color: rgb(121, 121, 121);
}

.Search{
	width: 550px;
	height: 50px;
	background: rgba(116, 116, 116, 0.658);
	border: medium;
	border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 15px;
  text-decoration-color: #000000;
  box-shadow:
  1.3px 2.4px 8.8px rgba(0, 0, 0, 0.063),
  3px 5.5px 16.7px rgba(0, 0, 0, 0.072),
  5.5px 10.1px 25.3px rgba(0, 0, 0, 0.073),
  9.4px 17px 36.6px rgba(0, 0, 0, 0.074),
  16px 29.1px 54.1px rgba(0, 0, 0, 0.076),
  33px 60px 98px rgba(0, 0, 0, 0.09);
}
::placeholder {
  color: rgb(214, 214, 214);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(238, 238, 238);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(238, 238, 238);

}
input, select, textarea{
    color: #e6e6e6;
}
textarea:focus, input:focus {
    color: #e6e6e6;
	;
}
	
.SearchButton{
	width: 100px;
	margin-top: px;
	margin-right: 2px;
	margin-bottom: auto;
	margin-left: 2px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border: 3px solid #c4c4c4af;
	color: #636363;
  background-color: rgba(192, 192, 192, 0.801);;
	transition: all 0.2s linear;
}

/* Museum */
.Museum{
	height: fit-content;
	text-align: center;
}

.viewPort{
	display: flex;
	border-radius: 25px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 15%;
	padding-bottom: 15%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	box-shadow:
  		1.3px 2.4px 8.8px rgba(0, 0, 0, 0.063),
  		3px 5.5px 16.7px rgba(0, 0, 0, 0.072),
  		5.5px 10.1px 25.3px rgba(0, 0, 0, 0.073),
  		9.4px 17px 36.6px rgba(0, 0, 0, 0.074),
  		16px 29.1px 54.1px rgba(0, 0, 0, 0.076),
  		33px 60px 98px rgba(0, 0, 0, 0.09);
}

.view{
	margin-left: auto;
	margin-right:auto;
	margin-top: 15px;
	color:darkgray;
	font-size: xx-large;
}

.MuseumHeader{
	font-family: 'Forum', cursive;
	color: #278AB0;
	font-size: 35px;
	letter-spacing: 5px;
}

.MuseumAbout{
	color: ivory;
	font-size: 25px;
	letter-spacing: 3px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}



/* Mobile */
@media (max-width: 320px) {
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.Title1{
	font-size: 40px;
	letter-spacing: 15PX;
}
.Title2{
	font-size: medium;
	letter-spacing: 5px;
}
.JoinTitle
{
	letter-spacing: 15px;
	font-size: 50px;
}
.TheCrewTitle{
	letter-spacing: 15px;
	font-size: 20px;
}
.AboutRoadMap{
	font-size: 20px;
}
.columns{
	font-family: 'Quicksand', sans-serif;
	background-color: ivory;
	margin-top: 30px;
	display: block;
	justify-content: none;
	grid-template-columns: none;
	padding: 20px;
}
.column{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	text-align: center;
}
.columnHeader{
	padding-top: 10px;
}
.RoadMapText{
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #1DC690;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:10px;
	margin-top:10px;
}
.columntext{
	padding-bottom: 5px;
}
.NFTImage {
	width: 80%;
	height: auto;
}

.BuyNFT{
	width: 75%;
	margin-right: auto;
	margin-left:auto;
	padding-top: 3%;
	padding-right: 5%;
	padding-bottom: 3%;
	padding-left: 5%;
}
.DonationAmount{
	width: 150px;
}
input, select, textarea{
	margin-left: 1%;
	padding-left: 2%;
}
.DonationButon{
	font-size: small;
	padding-right: 1%;
	padding-left: 1%;
	margin-right: 1%;
}
}

/* Small Tablets */
@media (min-width:500px) and (max-width: 767px) {
	.Title1{
		font-size: 80px;
		letter-spacing: 15PX;
	}
	.Title2{
		margin:0;
		font-size: large;
	}
	.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 767px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}

@media (min-width:320px) and (max-width: 500px) {
	.Title1{
		font-size: 50px;
		letter-spacing: 15PX;
	}
	.Title2{
		font-size: medium;
		letter-spacing: 5px;
	}

	.columns{
		font-family: 'Quicksand', sans-serif;
		background-color: ivory;
		margin-top: 30px;
		display: block;
		justify-content: none;
		grid-template-columns: none;
		padding: 20px;
	}
	.column{
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		border-radius: 15px;
		text-align: center;
	}
	.columnHeader{
		padding-top: 10px;
	}
	.RoadMapText{
		font-size: 17px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #1DC690;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom:10px;
		margin-top:10px;
	}
	.columntext{
		padding-bottom: 5px;
	}

	.JoinTitle
{
	letter-spacing: 15px;
	font-size: 80px;
}
.TheCrewTitle{
	letter-spacing: 15px;
	font-size: 30px;
}
.AboutRoadMap{
	font-size: 20px;
}
.NFTInfoBox{
	display: block;
	text-align: center;
}

.NFTTitle{
	font-family: 'Forum', cursive;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #1C4670;
}

.NFTImage {
	width: 80%;
	height: auto;
}

.BuyNFT{
	width: 75%;
	margin-right: auto;
	margin-left:auto;
	padding-top: 3%;
	padding-right: 5%;
	padding-bottom: 3%;
	padding-left: 5%;
}
.DonationAmount{
	width: 200px;
}
input, select, textarea{
	padding-left: 2%;
}
.DonationButon{
	padding-right: 2%;
	padding-left: 2%;
}
}
